<div class="m-3">
    <div class="row fw-bold">
      <div *ngFor="let oszlopNev of oszlopok" class="col">{{oszlopNev}}</div>
      <div class="col">
        Műveletek
      </div>
    </div>
  
    <div class="row m-2">
      <div *ngFor="let oszlopNev of oszlopok" class="col">
        <input [(ngModel)]='ujEmber[oszlopNev]' type="text" class="form-control">
      </div>
      <div class="col">
        <button (click)="hozzaAd()" type="button" class="btn btn-success">Hozzáadás</button>
      </div>
    </div>
  
    <div *ngFor="let ember of emberek" class="row m-2">
      <div *ngFor="let oszlopNev of oszlopok" class="col">
        <input [(ngModel)]='ember[oszlopNev]' type="text" class="form-control">
      </div>
      <div class="col">
        <button [ngClass]="ember.Nem ==='Férfi'?'btn-warning':'btn-danger'" (click)="torles(ember)" type="button" class="btn">Törlés</button>
      </div>
    </div>
  </div>
